<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm King_Rocks</h1>
		<p>Welcome to my first rails app.</p>
		<p>This week I built a blog in Rails 5. You're actually on the demo application right now. Cool stuff, right!.</p>
	</div>
</div>
